@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap");
:root {
  --BANGLADESH-GREEN: #007549;
  --DEEP-MOSS-GREEN: #355B3E;
  --GREEN-CYAN: #029664;
  --AXOLOTL: #58745E;
  --JET-STREAM: #B8D6BF;
  --CHARCOAL: #2F3D4C;
  --DARK-SEA-GREEN: #95B29B;
  --ALMOND: #F5DBC4;
  --WHITE: #FFFFFF;
}

@media only screen and (max-width: 1366px) {
  body {
    font-size: 14px;
  }
  body .wrapper-row {
    max-width: 1200px;
    min-height: 600px;
  }
  body .container {
    padding: 40px 40px 26px;
  }
  body .traval-content {
    max-width: 500px;
  }
  body .traval-content-header {
    margin-bottom: 12px;
  }
  body .traval-content-header--link {
    margin-bottom: 16px;
  }
  body .traval-content-header--link img {
    width: 120px;
    height: 28px;
  }
  body .traval-content-header--copy {
    font-size: 14px;
  }
  body .form-input--input {
    height: 46px;
  }
  body .form-password {
    height: 46px;
  }
  body .checkbox {
    font-size: 14px;
  }
  body .form-checkbox a {
    font-size: 14px;
  }
  body .btn-item {
    width: 180px;
    height: 42px;
  }
  body .social-list {
    font-size: 14px;
  }
  body .traval-image {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--ALMOND);
    text-align: center;
  }
  body .traval-image img {
    width: 500px;
    height: 333px;
    margin: 40px 0;
  }
}
@media only screen and (max-width: 1100px) {
  body .wrapper {
    padding: 0;
  }
  body .wrapper-row {
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 0;
  }
  body .traval-content {
    order: 2;
  }
  body .traval-image {
    order: 1;
  }
}
@media only screen and (max-width: 516px) {
  body .traval-image img {
    width: 380px;
    height: 233px;
  }
  body .btns {
    flex-direction: column;
    row-gap: 10px;
  }
  body .btn-item {
    width: 100%;
  }
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  background-color: var(--DEEP-MOSS-GREEN);
  font-size: 16px;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1520px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 40px;
}

.wrapper-row {
  display: flex;
  max-width: 1296px;
  width: 100%;
  min-height: 714px;
  height: 100%;
  background-color: var(--WHITE);
  border-radius: 24px;
  overflow: hidden;
}

.traval-content {
  max-width: 550px;
}

.container {
  padding: 40px 64px 66px;
}

.traval-content-header {
  margin-bottom: 32px;
}

.traval-content-header--link {
  display: inline-block;
  margin-bottom: 56px;
}

.traval-content-header--title {
  font-weight: 600;
  font-size: 24px;
  line-height: 36px;
  color: var(--DEEP-MOSS-GREEN);
  margin-bottom: 16px;
}

.traval-content-header--copy {
  font-weight: 400;
  line-height: 16px;
  color: var(--AXOLOTL);
}

.traval-image {
  flex-grow: 2;
  background-color: var(--ALMOND);
}

.traval-image img {
  margin: 188px 123px;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-input--copy {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: var(--DEEP-MOSS-GREEN);
  margin-bottom: 6px;
}

.form-input--input {
  height: 56px;
  padding: 16px;
  border-radius: 6px;
  border: 1px solid var(--JET-STREAM);
  outline: none;
  font-weight: 400;
  font-size: 16px;
  color: var(--DEEP-MOSS-GREEN);
  margin-bottom: 24px;
}

.form-input--input::-moz-placeholder {
  color: var(--DEEP-MOSS-GREEN);
}

.form-input--input::placeholder {
  color: var(--DEEP-MOSS-GREEN);
}

.form-password {
  position: relative;
  border: 1px solid var(--JET-STREAM);
  height: 56px;
  margin-bottom: 24px;
  border-radius: 6px;
}

.form-password input {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  border: 0;
  right: 50px;
  padding-left: 16px;
  outline: none;
  color: var(--DEEP-MOSS-GREEN);
  font-size: 24px;
}

.form-password img {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer;
}

.eye-icon {
  width: 24px;
  height: 24px;
}

.form-checkbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.form-checkbox label {
  display: flex;
  align-items: center;
  -moz-column-gap: 8px;
       column-gap: 8px;
  cursor: pointer;
}

.checkbox input {
  accent-color: var(--GREEN-CYAN);
  width: 16px;
  height: 16px;
}

.checkbox label {
  color: var(--DEEP-MOSS-GREEN);
}

.form-checkbox a {
  color: var(--DEEP-MOSS-GREEN);
}

.btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 48px;
  border-radius: 8px;
  padding: 16px;
  font-weight: 600;
  background-color: var(--GREEN-CYAN);
  color: var(--WHITE);
  text-decoration: none;
  transition: 0.2s;
}

.form-login--link:hover {
  background-color: var(--BANGLADESH-GREEN);
}

.form-signup--link {
  background-color: var(--WHITE);
  color: var(--GREEN-CYAN);
  border: 1px solid var(--GREEN-CYAN);
}
.form-signup--link:hover {
  background-color: var(--GREEN-CYAN);
  color: var(--WHITE);
}

.social {
  margin-top: 56px;
}

.social-list {
  display: flex;
  list-style: none;
  -moz-column-gap: 24px;
       column-gap: 24px;
}

.social-list--link.social-list-login--link {
  color: var(--AXOLOTL);
  font-weight: 400;
}
.social-list--link.social-list-login--link:hover {
  color: var(--DEEP-MOSS-GREEN);
}

.social-list--link {
  text-decoration: none;
  font-weight: 500;
  color: var(--DEEP-MOSS-GREEN);
}
.social-list--link:hover {
  color: var(--AXOLOTL);
}/*# sourceMappingURL=style.css.map */