@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

:root {
    --BANGLADESH-GREEN: #007549;
    --DEEP-MOSS-GREEN: #355B3E;
    --GREEN-CYAN: #029664;
    --AXOLOTL: #58745E;
    --JET-STREAM: #B8D6BF;
    --CHARCOAL: #2F3D4C;
    --DARK-SEA-GREEN: #95B29B;
    --ALMOND: #F5DBC4;
    --WHITE: #FFFFFF;
}

*,*::before,*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--DEEP-MOSS-GREEN);
    font-size: 16px;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1440px;
    min-height: 100vh;
    margin: 0 auto;
}

.wrapper-row {
    display: flex;
    max-width: 1296px;
    width: 100%;
    min-height: 714px;
    height: 100%;
    background-color: var(--WHITE);
    border-radius: 24px;
    overflow: hidden;
}

.traval-content {
    max-width:  550px;
}

.container {
    padding: 40px 64px 66px;
}

.traval-content-header {
    margin-bottom: 32px;
}

.traval-content-header--link{
    display: inline-block;
    margin-bottom: 56px;
}

.traval-content-header--title {
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    color: var(--DEEP-MOSS-GREEN);
    margin-bottom: 16px;
}

.traval-content-header--copy {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: var(--AXOLOTL);
}

.traval-image {
    flex-grow: 2;
    background-color: var(--ALMOND);
}

.traval-image img {
    margin: 188px 123px;
}

// FORM SECTION
.form {
    display: flex;
    flex-direction: column;
}

.form-input--copy {
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;
    color: var(--DEEP-MOSS-GREEN);
    margin-bottom: 6px;
}

.form-input--input {
    height: 56px;
    padding: 16px;
    border-radius: 6px;
    border: 1px solid var(--JET-STREAM);
    outline: none;
    font-weight: 400;
    font-size: 16px;
    color: var(--DEEP-MOSS-GREEN);
    margin-bottom: 24px;
}

.form-input--input::placeholder {
    color: var(--DEEP-MOSS-GREEN);
}

.form-password {
    position: relative;
    border: 1px solid var(--JET-STREAM);
    height: 56px;
    margin-bottom: 24px;
    border-radius: 6px;
}

.form-password input {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border: 0;
    right: 50px;
    padding-left: 16px;
    outline: none;
    color: var(--DEEP-MOSS-GREEN);
    font-size: 24px;
}

.form-password img {
    position: absolute;
    right: 16px;
    top: 16px;
    cursor: pointer;
}

.eye-icon {
    width: 24px;
    height: 24px;
}

.form-checkbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.form-checkbox label {
    display: flex;
    align-items: center;
    column-gap: 8px;
    cursor: pointer;
}

.checkbox input{
    accent-color: var(--GREEN-CYAN);
    width: 16px; 
    height: 16px;
}   
.checkbox label {
    color: var(--DEEP-MOSS-GREEN);
}

.form-checkbox a {
    color: var(--DEEP-MOSS-GREEN);
}

.btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 48px;
    border-radius: 8px;
    padding: 16px;
    font-weight: 600;
    background-color: var(--GREEN-CYAN);
    color: var(--WHITE);
    text-decoration: none;
    transition: .2s;
}

.form-login--link:hover {
    background-color: var(--BANGLADESH-GREEN);
}

.form-signup--link {
    background-color: var(--WHITE);
    color: var(--GREEN-CYAN);
    border: 1px solid var(--GREEN-CYAN);

    &:hover{
        background-color: var(--GREEN-CYAN);
        color: var(--WHITE);
    }
}